#chat-screen {
    background: #abc1d1;
    height: 1000vh;
}

#chat-screen .status-bar,
#chat-screen .alt-screen-header {
    background-color: #abc1d1;
}

#chat-screen .status-bar {
    z-index: 2;
}

.chat-screen {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat__time-stamp {
    color: white;
    background-color: #92a4b2;
    padding: 15px;
    border-radius: 25px;
    font-size: 14px;
    margin-bottom: 25px;
}

.message-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.message-row {
    width: 100%;
    display: flex;
    gap: 10px;
}

.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.message-row__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.message__info {
    display: flex;
    align-items: end;
    gap: 5px;
}

.message__author,
.message__time {
    opacity: 0.8;
    font-size: 14px;
}

.message__bubble {
    background-color: white;
    padding: 13px;
    border-radius: 0 15px 15px;
    font-size: 18px;
}

.message-row--own {
    display: flex;
    justify-content: flex-end;
}

.message-row--own .message__bubble {
    background-color: var(--yellow);
    border-radius: 15px 0 15px 15px;
}

.message-row--own .message__info {
    flex-direction: row-reverse;
}