#chat-screen {
    background: #abc1d1;
    height: 1000vh;
}

#chat-screen .status-bar,
#chat-screen .alt-screen-header {
    background-color: #abc1d1;
}

#chat-screen .alt-screen-header {
    z-index: 1;
}

#chat-screen .status-bar {
    z-index: 2;
}

.chat-screen {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.chat__time-stamp {
    color: white;
    background-color: #92a4b2;
    padding: 15px;
    border-radius: 25px;
    font-size: 14px;
    margin-bottom: 25px;
    animation: fadeInAnimation 0.3s linear;
}

.message-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    animation: fadeInAnimation 0.3s linear;
}

.message-row {
    width: 100%;
    display: flex;
    gap: 10px;
}

.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.message-row__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.message__info {
    display: flex;
    align-items: end;
    gap: 5px;
}

.message__author,
.message__time {
    opacity: 0.8;
    font-size: 14px;
}

.message__bubble {
    background-color: white;
    padding: 13px;
    border-radius: 0 15px 15px;
    font-size: 18px;
}

.message-row--own {
    display: flex;
    justify-content: flex-end;
}

.message-row--own .message__bubble {
    background-color: var(--yellow);
    border-radius: 15px 0 15px 15px;
}

.message-row--own .message__info {
    flex-direction: row-reverse;
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 25px;
    background-color: white;
    box-sizing: border-box;
}

.reply input {
    height: 30px;
    width: 100%;
    border: var(--main-border);
    border-radius: 20px;
    padding-left: 10px;
    transition: all .3s ease-in-out;
}

.reply__column:first-child {
    width: 10%;
}

.reply__column:first-child i {
    opacity: 0.2;
}

.reply__column:last-child {
    width: 90%;
    position: relative;
}

.reply-util {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    bottom: 2px;
    right: -10px;
    transition: opacity .3s ease-in-out;
}

.reply-util > i {
    opacity: 0.2;
}

.reply-util__send-button {
    background-color: var(--yellow);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.reply-util__send-button:focus,
.reply-util__send-button:active {
    outline: none;
}

.reply:focus-within .reply__column:first-child {
    visibility: hidden;
    opacity: 1;
}

.reply:focus-within .reply-util {
    opacity: 0;
}

.reply:focus-within input {
    width: 95vw;
    transform: translateX(-13%);
}